{% extends "modrecurso/base_modrecurso.html" %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1> Buscar Recurso </h1>
            <hr>
            <p>Ingresa los siguientes datos: </p><br>
            <form id="searchform" action="." method="get">
{#                {{ form.as_p }}#}
                <h3 style="line-height:10pt;">Nombre: {{ form.nombre}}</h3>
                    <h3>Area: {{ form.area}}</h3>
                    <h3>Tipo de Recurso: {{ form.tipo_recurso}}</h3>
                    {% if bandera == True %}
                        <h3>Hora Inicio: {{ form.hora_inicio}}</h3>
                        <h3>Hora Final: {{ form.hora_final}}</h3>
                    {% endif %}
                    {% if bandera_fecha == True and bandera == True%}
                        <h3>Fecha: {{ form.fecha}}</h3>
                    {% endif %}
                <button type="submit" name="buscar" class="btn btn-primary">Buscar</button>
            </form>
            <table id="Table_area" class="header" cellspacing="0" width="100%">
                <thead class="table">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Tipo Recurso</th>
                        <th>Area</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recurso in recurso_list %}
                        <form id="submitform" action="." method="post">
                        {% csrf_token %}
                            <tr>
                                <td>{{ recurso.id }}</td>
                                <td>{{ recurso.nombre }}</td>
                                <td>{{ recurso.tipo_recurso.nombre }}</td>
                                <td>{{ recurso.area.nombre }}</td>
                                <td><button type="submit" name="seleccionar" class="btn btn-primary">Seleccionar</button></td>
                                {#<td><a class="btn btn-sm btn-primary" href="{% url 'modreserva:crear_reserva_id' recurso.id %}" role="button">Seleccionar</a></td>#}
                            </tr>
                            <input type="hidden" name="recurso_id" value="{{ recurso.id }}">
                            <input type="hidden" name="hora_inicio" value="{{ hora_inicio|time:"H:i" }}">
                            <input type="hidden" name="hora_final" value="{{ hora_final|time:"H:i" }}">
                            <input type="hidden" name="fecha" value="{{ fecha|date:"d/m/Y" }}">
                        </form>
                    {% endfor %}
                </tbody>
            </table>
            {% if recurso_list.has_other_pages  %}
                <ul class="pagination">
                    {% if recurso_list.has_previous %}
                    {# No me pregunten como, pero toda esa parte del codigo a partir del "for key...." es para que no se pierdan los parametros al cambiar de pagina #}
                        <li><a href="?page={{ recurso_list.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in recurso_list.page_range %}
                        {% if recurso_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if recurso_list.has_next %}
                            <li><a href="?page={{ recurso_list.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>
                    {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
            <br><br>
            {% if reserva_id %}
                <a class="btn btn-sm btn-primary" href="{% url nombre_url reserva_id  %}" role="button">&laquo; Atrás </a>
            {% else %}
                <a class="btn btn-sm btn-primary" href="{% url nombre_url  %}" role="button">&laquo; Atrás </a>
            {% endif %}

        </div>
    </div>
{% endblock %}
