{% extends "modreserva/base_modreserva.html" %}



{% block title %}Crear Reserva Directa{% endblock %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block content %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Nueva Reserva Directa</h1><hr>
              <h2> {{ request.user.first_name }}</h2>
              <p>Ingresa los siguientes datos: </p>
              <form action="." method="post">
                  {% csrf_token %}
                  <h3>Recurso:<a title=" Haga click para seleccionar un recurso" href="{% url 'modreserva:buscar_recurso_list' %}"><div class="form-control" >{{recurso.nombre}}</div></a></h3>{#                  <h5 class="hidden"> {{ form.recurso}} </h5>#}
{#                  <h5 class="hidden"> {{ form.recurso}} </h5>#}
{#                  <h3>Tipo de Recurso: {{ form.tipo_recurso}}</h3>#}
{#                  <h3>Hora de Inicio: {{ form.hora_inicio}}</h3>#}
{#                  <h3>Hora de Fin: {{ form.hora_final}}</h3>#}
                  {{ form.as_p }}
                  <div class="modal-footer" style="text-align:left">
                      <a href="{% url 'modreserva:reserva_lista' %}" class="btn btn-primary" role="button">Cancelar </a>
                      <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
              </form>
          </div>
        </div>
{% endblock content %}