{% extends "modreserva/base_modreserva.html" %}



{% block title %}Reporte{% endblock %}
{% block extrahead %}
    {{ form.media }}
    {{ form1.media }}
{% endblock %}
{% block content %}
    {% if perms.modreserva.add_reserva %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Nuevo Reporte</h1><hr>
              <h2> {{ request.user.first_name }}</h2>
              <p>Ingresa los siguientes datos: </p><br>
              <form ation="." method="post">
                  {% csrf_token %}
                  {{ form1.as_p }}
                  {{ form.as_p }}
                  <div class="modal-footer" style="text-align:left">
                      <a href="{% url 'modreserva:reserva_lista' %}" class="btn btn-primary" role="button">Cancelar </a>
                      <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
              </form>
          </div>
        </div>
    {% else %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Permiso denegado! </h1><br>
              <p> Usted no posee permiso para crear historial </p><br>
          </div>
        </div>
    {% endif %}
{% endblock content %}