
{% extends "modreserva/base_modreserva.html" %}

{% block title %}Reserva eliminada{% endblock %}

{% block content %}
    {% if perms.modreserva.delete_reserva %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Reserva eliminada </h1><hr>
              <p>Su reserva ha sido eliminado exitosamente. Ahora puedes <a href="{% url "modreserva:reserva_lista" %}">volver</a></p><br>
          </div>
        </div>
    {% else %}
        <p></p>
        <div class="container" >
          <div class="jumbotron">
              <h1> Permiso denegado! </h1><hr>
              <p>No posee permiso para eliminar la reserva.<br>
          </div>
        </div>
    {% endif %}
{% endblock content %}