{% extends "modreserva/base_modreserva.html" %}

{% block title %}Reserva Creada{% endblock %}

{% block content %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Reporte Agregado </h1><hr>
              <p>Su reporte ha sido agregado exitosamente. Ahora puedes <a href="{% url "modreserva:reserva_lista" %}">volver</a></p><br>
          </div>
        </div>
{% endblock content %}