{% extends "modreserva/base_modreserva.html" %}



{% block title %}Modificar reserva{% endblock %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block content %}
    {% if perms.modreserva.add_reserva %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Modificar Reserva</h1><hr>
              <h2> {{ request.user.first_name }}</h2>
              <p>Ingresa los siguientes datos: </p>
              <form action="#" method="post">
                  {% csrf_token %}
                  <h3>Usuario: {{ form.usuario }}</h3>
                  <h3>Tipo de Recurso {{ form.tipo_recurso }}</h3>
                  <h3>Recurso: <a title=" Haga click para seleccionar un recurso" href="{% url 'modreserva:buscar_recurso_list' %}"><div class="form-control" >{{recurso.nombre}}</div></a></h3>
                  <h5 class="hidden"> {{ form.recurso }}</h5>
                  <h3>Estado: {{ form.estado }}</h3>

                  <div class="modal-footer" style="text-align:left">
                      <a href="{% url 'modreserva:reserva_list_resolver' %}" class="btn btn-primary" role="button">Cancelar </a>
                      <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
              </form>
          </div>
        </div>
    {% else %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Permiso denegado! </h1><br>
              <p> Usted no posee permiso para modificar reserva </p><br>
          </div>
        </div>
    {% endif %}
{% endblock content %}