{% extends 'modreserva/base_modreserva.html' %}
{% load static %}
{% block title %}Reserva{% endblock %}
{% block extrahead %}
    {{ form.media }}
    {{ form1.media }}
{% endblock %}
{% block content %}

    <div class="container" >
      <div class="jumbotron">
        <h1>Reservas</h1><hr>
         <!--<input type="text" id="myInput" class="myInput" onkeyup="buscar()" placeholder="Ingrese el usuario que desea buscar.">-->
         <!-- BUSCAAAR-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" id="adv-search">
                            <input type="text" class="form-control" id="myInput" onkeyup="buscar()" placeholder="Ingrese el nombre del Recurso">
                            <div class="input-group-btn">
                                <div class="btn-group" role="group" >
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="height: 45px;width: 45px"><img src="{% static 'img/filtro.png' %}" width="19" height="19"></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form class="form-horizontal" action="." method="get" role="form">
{#                                                {% include 'modreserva/reserva_filtros.html' %}#}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-sm btn-primary" id="btnFiltrar">Filtrar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           <!-- BUSCAAAR-->
            <br>
{#        <table id="myTable" class="header" cellspacing="0" width="100%">#}
          <table id="myTable" class="tablesorter" cellspacing="0" width="100%">
            <thead class="table">
                <tr>
                    <th>Usuario</th>
                    <th>Tipo de Recurso </th>
                    <th>Recurso</th>
                    <th>Rango Horario</th>
                <!--<th>Final</th>-->
                    <th>Tipo</th>
                    <!--<<th>Descripcion</th>-->
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Fecha Reserva</th>
                    <th>Detalles</th>

                    {% if perms.modreserva.entrega_recurso or perms.modreserva.cancelar_reserva %}
                        <th>Alterar</th>
                    {% endif %}
                    {% if perms.modreserva.delete_reserva %}
                        <th>Eliminar</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for Reserva in reservas %}
                    <tr>
                        <td>{{ Reserva.usuario }}</td>
                        <td>{{ Reserva.tipo_recurso }}</td>
                        <td>{{ Reserva.recurso }}</td>
                        <td>{{ Reserva.hora_inicio }}-{{ Reserva.hora_final }}</td>
                        <td>{{ Reserva.tipo }}</td>
                        <td>{{ Reserva.estado }}</td>
                        <td>{{ Reserva.fecha }}</td>
                        <td>{{ Reserva.fecha_reserva }}</td>
                        <td>
                            <img src="{% static 'img/detalles2.png' %}" width="25" height="25" alt="more" style="cursor: pointer;" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">
                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{ forloop.counter }}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title"> Detalles de la Reserva</h3>
                                        </div>
                                        <div class="modal-body">
                                           <h4>Hora de Entrega</h4>
                                           {{ Reserva.fecha_hora_entrega }}
                                           <h4>Hora de Devolución</h4>
                                           {{ Reserva.fecha_hora_devolucion }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>&nbsp
                                            <a href="{% url "modreserva:recuperar" parameter=Reserva %}"><button type="button" class="btn btn-default">Añadir</button></a>
{#                                            <a href="{% url "modreserva:recuperar" parameter=Reserva %}"><img src="{% static 'img/añadir2.png' %}" width="25" height="25" alt="añadir2"/></a>#}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>

                        <td>
                            {% if perms.modreserva.entrega_recurso %}
                             <a href="{% url "modreserva:entrega_recurso" parameter=Reserva.id %}"><img src="{% static 'img/check2.png' %}" width="25" height="25" alt="more"/></a>
                            {% endif %}
{#                            {% if perms.modreserva.cancelar_reserva %}#}
                                <a href="{% url "modreserva:cancelar_reserva" parameter=Reserva.id %}"><img src="{% static 'img/cancelar2.png' %}" width="26" height="26" alt="eliminar1"/></a>
{#                            {% endif %}#}
                        </td>
                        <td>
                            {% if perms.modreserva.delete_reserva %}
                                <a href="{% url "modreserva:eliminar_reserva" parameter=Reserva.id %}"><img src="{% static 'img/eliminar1.png' %}" width="25" height="25" alt="eliminar1"/></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                  <h3>No hay reservas</h3>
                {% endfor %}
            </tbody>
          </table>
            {% if reservas.has_other_pages %}
                <ul class="pagination">
                    {% if reservas.has_previous %}
                        {# No me pregunten como, pero toda esa parte del codigo a partir del "for key...." es para que no se pierdan los parametros al cambiar de pagina #}
                        <li><a href="?page={{ reservas.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in reservas.paginator.page_range %}
                        {% if reservas.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if reservas.has_next %}
                            <li><a href="?page={{ reservas.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>
                    {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
            <br><br>
                <a class="btn btn-sm btn-primary" href="{% url "modusuario:home" %}" role="button">&laquo; Atrás </a>
            &nbsp &nbsp
{#            {% if perms.modreserva.add_reserva %}#}
                <a class="btn btn-sm btn-primary" href="{% url "modreserva:crear_reserva" %}" role="button">Crear Directa</a>&nbsp &nbsp
                <a class="btn btn-sm btn-primary" href="{% url "modreserva:crear_reserva_ant" %}" role="button">Crear Aniticipada</a>&nbsp &nbsp
{#            {% endif %}#}
            {% if perms.modreserva.entrega_recurso %}
                <a class="btn btn-sm btn-primary" href="{% url "modreserva:reserva_list_resolver" %}" role="button">Resolver Reservas</a>&nbsp &nbsp
            {% endif %}
                <div class="btn-group dropup" role="group">
                    <div class="dropdown dropdown-lg" >
                       <button style="border-radius:4px;" type="button" class="btn btn-sm btn-primary dropdown-toggle"  data-toggle="dropdown" aria-expanded="false" >Reporte</button>
                          <div class="dropdown-menu dropdown-menu" role="menu">
                              <form class="form-horizontal" action="{% url "modreserva:reporte_reserva_pdf" %}" method="get" role="form">
                                {{ form1.as_p }}
                                <button type="submit" class="btn btn-sm btn-primary" id="btnGenerar" style="border-radius:5px;">Generar PDF</button>
                             </form>
                          </div>
                    </div>
                </div>

      </div>
    </div> <!-- /container -->

    <script>
    function buscar()
    {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    $(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
    );


    </script>


{% endblock content %}




