
{% block extrahead %}
    {{ form.media }}
{% endblock %}
<span id="span_filtros" style="background-color: #66afe9"><strong>Filtros</strong></span>
    <div id="filtros" style="background-color: #2aabd2" hidden="hidden">
   <form action="." method="get">
        {{ form.as_p }}
        <input type="submit" value="Filtrar" id="btnFiltrar">
   </form>
</div>

<script>
    $(document).ready(function() {
        var bandera = true;
        $("#span_filtros").click(function() {
            if(bandera){
                $("#filtros").slideDown();
                bandera = false;
            }else{
                $("#filtros").slideUp();
                bandera = true;
            }
        });
    });
</script>



