{% extends 'modreserva/base_modreserva.html' %}
{% load static %}
{% block title %}Reserva{% endblock %}
{% block content %}

    <div class="container" >
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Vista Previa</h1><hr>
        <input type="text" id="myInput" class="myInput" onkeyup="buscar()" placeholder="Ingrese el id de la reserva que desea buscar.">

        <table id="myTable" class="header" cellspacing="0" width="100%">
            <thead class="table">
                <tr>
                    <th>Usuario</th>
                    <th>Tipo de Recurso </th>
                    <th>Recurso</th>
                    <th>Rango Horario</th>
                <!--<th>Final</th>-->
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Fecha Reserva</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {% for Reserva in reservas %}
                    <tr>
                        <td>{{ Reserva.usuario }}</td>
                        <td>{{ Reserva.tipo_recurso }}</td>
                        <td>{{ Reserva.recurso }}</td>
                        <td>{{ Reserva.hora_inicio }}-{{ Reserva.hora_final }}</td>
                        <td>{{ Reserva.tipo }}</td>
                        <td>{{ Reserva.estado }}</td>
                        <td>{{ Reserva.fecha }}</td>
                        <td>{{ Reserva.fecha_reserva }}</td>
                        <td> <a href="{% url "modreserva:modificar_reserva" parameter=Reserva.id %}"><img src="{% static 'img/configuracion.png' %}" width="25" height="25" alt="more"/></a>
                    </tr>
                {% empty %}
                  <h3>No hay reservas</h3>
                {% endfor %}
            </tbody>
        </table>
            {% if reservas.has_other_pages %}
                <ul class="pagination">
                    {% if reservas.has_previous %}
                        <li><a href="?page={{ reservas.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in reservas.paginator.page_range %}
                        {% if reservas.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if reservas.has_next %}
                            <li><a href="?page={{ reservas.next_page_number }}">&raquo;</a></li>
                    {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
            <br><br>
                <a class="btn btn-sm btn-primary" href="{% url "modreserva:reserva_lista" %}" role="button">&laquo; Aceptar </a>
            &nbsp &nbsp

      </div>
    </div> <!-- /container -->


    <script>
    function buscar()
    {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    </script>


{% endblock content %}




