{% extends "modmantenimiento/base_modmantenimiento.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1> Buscar Recurso </h1>
            <hr>
            <p>Ingresa los siguientes datos: </p><br>
            <form id="searchform" action="." method="get">
                {{ form.as_p }}
                <button type="submit" name="buscar" class="btn btn-primary">Buscar</button>
            </form>
            <table id="Table_area" class="header" cellspacing="0" width="100%">
                <thead class="table">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Tipo Recurso</th>
                        <th>Area</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recurso in recurso_list %}
                        <form id="submitform" action="." method="post">
                        {% csrf_token %}
                            <tr>
                                <td>{{ recurso.id }}</td>
                                <td>{{ recurso.nombre }}</td>
                                <td>{{ recurso.tipo_recurso.nombre }}</td>
                                <td>{{ recurso.area.nombre }}</td>
                                <td><button type="submit" name="seleccionar" class="btn btn-primary">Seleccionar</button></td>
                            </tr>
                            <input type="hidden" name="recurso_id" value="{{ recurso.id }}">
                        </form>
                    {% endfor %}
                </tbody>
            </table>
            {% if recurso_list.has_other_pages  %}
                <ul class="pagination">
                    {% if recurso_list.has_previous %}
                        {# No me pregunten como, pero toda esa parte del codigo a partir del "for key...." es para que no se pierdan los parametros al cambiar de pagina #}
                        <li><a href="?page={{ recurso_list.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in recurso_list.page_range %}
                        {% if recurso_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if recurso_list.has_next %}
                            <li><a href="?page={{ recurso_list.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>
                    {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
            <br><br>
            <a class="btn btn-sm btn-primary" href="{% url nombre_url %}" role="button">&laquo; Atrás </a>
        </div>
    </div>
{% endblock %}
