{% extends "modmantenimiento/base_modmantenimiento.html" %}

{% block title %}Crear mantenimiento{% endblock %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% if perms.modmantenimiento.add_mantenimiento %}
        <div class="container">
            <div class="jumbotron">
                <h1> Nuevo Mantenimiento </h1>
                <hr>
                <p>Ingresa los siguientes datos: </p><br>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer" style="text-align:left">
                        <a href="{% url 'modmantenimiento:mantenimiento_lista' %}" class="btn btn-primary" role="button">Cancelar </a>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h1> Permiso denegado! </h1><br>
                <p> Usted no posee permiso para crear recurso </p><br>
            </div>
        </div>
    {% endif %}

    <script>
    $(document).ready(function() {
        var $recurso = $("#id_recurso_nombre")
        $recurso.click(function() {
            document.location.href = "{% url 'modmantenimiento:buscar_recurso_lista' %}";
        });
        $recurso.after(" <a class='btn btn-sm btn-primary' href='{% url 'modmantenimiento:buscar_recurso_lista' %}' role='button'>Buscar</a>");
    });
</script>

{% endblock content %}