{% extends "modmantenimiento/base_modmantenimiento.html" %}

{% block title %}Mantenimiento eliminado{% endblock %}

{% block content %}
    {% if perms.modmantenimiento.delete_mantenimiento %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Mantenimiento eliminado </h1><hr>
              <p>Su mantenimiento ha sido eliminado exitosamente. Ahora puedes <a href="{% url "modmantenimiento:mantenimiento_lista" %}">volver</a></p><br>
          </div>
        </div>
    {% else %}
        <p></p>
        <div class="container" >
          <div class="jumbotron">
              <h1> Permiso denegado! </h1><hr>
              <p>No posee permiso para eliminar mantenimiento.<br>
          </div>
        </div>
    {% endif %}
{% endblock content %}