{% extends "modmantenimiento/base_modmantenimiento.html" %}

{% block title %}Mantenimiento Creado{% endblock %}

{% block content %}
        <div class="container" >
          <div class="jumbotron">
              <h1> Mantenimiento Creado </h1><hr>
              <p>Su mantenimiento ha sido creado exitosamente. Ahora puedes <a href="{% url 'modmantenimiento:mantenimiento_lista' %}">volver</a></p><br>
          </div>
        </div>
{% endblock content %}