{% extends "modmantenimiento/base_modmantenimiento.html" %}

{% load static i18n %}

{% block title %}Mantenimiento{% endblock %}

{% block content %}

    <div class="container" >
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Mantenimiento</h1><hr>
        <input type="text" id="myInput" class="form-control" onkeyup="buscar()" placeholder="Ingrese la fecha del mantenimiento que desea buscar.">
         <br>
        <table id="myTable" class="header" cellspacing="0 " width="100%">
            <thead class="table">
                <tr>
                    <th>Nombre Recurso</th>
                    <th>Motivo</th>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Resultado</th>
                    <th>Detalles</th>
                    <th>Modificar</th>
                    <th>Cancelar/<br>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for Mantenimiento in mantenimientos %}
                    <tr>
                        <td>{{ Mantenimiento.recurso }}</td>
                        <td>{{ Mantenimiento.motivo }}</td>
                        <td>{{ Mantenimiento.costo }}</td>
                        <td>{{ Mantenimiento.tipo }}</td>
                        <td>{{ Mantenimiento.estado }}</td>
                        <td>{{ Mantenimiento.resultado }}</td>
                        <td>
                            <img src="{% static 'img/detalles2.png' %}" width="25" height="25" alt="more" style="cursor: pointer;" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">
                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{ forloop.counter }}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title"> Detalles del Mantenimiento </h3>
                                        </div>
                                        <div class="modal-body" style="text-align:left">
                                           <h3>Fecha y hora de inicio</h3>
                                           {{ Mantenimiento.fecha_hora_inicio }}
                                           <hr>
                                           <h3>Fecha y hora de fin</h3>
                                           {{ Mantenimiento.fecha_hora_fin }}
                                           <hr>
                                           <h3>Descripción</h3>
                                           {{ Mantenimiento.descripcion }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>

                        <td>
                            {% if perms.modmantenimiento.change_mantenimiento and Mantenimiento.tipo == Mantenimiento.CORRECTIVO and not Mantenimiento.resultado and Mantenimiento.estado != Mantenimiento.CANCELADO %}
                                <a href="{% url "modmantenimiento:modificar_mantenimiento" parameter=Mantenimiento.id %}"><img src="{% static 'img/editar_recurso.png' %}" width="25" height="25" alt="editar1"/></a>
                            {% endif %}
                        </td>

                        {% if perms.modmantenimiento.delete_mantenimiento and Mantenimiento.estado != Mantenimiento.CANCELADO%}
                            <td><a href="{% url "modmantenimiento:eliminar_mantenimiento" parameter=Mantenimiento.id %}"><img src="{% static 'img/eliminar1.png' %}" width="25" height="25" alt="eliminar"/></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if mantenimientos.has_other_pages %}
            <ul class="pagination">
                {% if mantenimientos.has_previous %}
                    <li><a href="?page={{ mantenimientos.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in mantenimientos.paginator.page_range %}
                    {% if mantenimientos.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if mantenimientos.has_next %}
                        <li><a href="?page={{ mantenimientos.next_page_number }}">&raquo;</a></li>
                {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
        <br><br>
            <a class="btn btn-sm btn-primary" href="{% url "modusuario:home" %}" role="button">&laquo; Atrás </a>
        &nbsp;&nbsp;
        {% if perms.modmantenimiento.add_mantenimiento %}
            <a class="btn btn-sm btn-primary" href="{% url "modmantenimiento:crear_mantenimiento_preventivo" %}" role="button">Crear Preventivo</a>&nbsp &nbsp
            <a class="btn btn-sm btn-primary" href="{% url "modmantenimiento:crear_mantenimiento_correctivo" %}" role="button">Crear Correctivo</a>&nbsp &nbsp
        {% endif %}
      </div>
    </div> <!-- /container -->

    <script>
        function buscar()
        {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td)
                {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                    {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock content %}




