{% extends "modmantenimiento/base_modmantenimiento.html" %}

{% block title %}Editar Mantenimiento{% endblock %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% if perms.modmantenimiento.change_mantenimiento %}
        <div class="container">
            <div class="jumbotron">
                <h1> Editar el mantenimiento </h1>
                <hr>
                <p> Puede editar el mantenimiento mediante el siguiente formulario: </p><br>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="modal-footer" style="text-align:left">
                      <a href="{% url 'modmantenimiento:mantenimiento_lista' %}" class="btn btn-primary" role="button">Atras </a>
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h1> Permiso denegado! </h1>
                <hr>
                <p> Usted no posee permiso para modificar mantenimiento </p><br>
            </div>
        </div>
    {% endif %}
{% endblock content %}