{% extends "base.html" %}

{% block title %}Modulo de Recursos{% endblock %}

{% block dropdown-active %}active{% endblock %}

{% block dropdown-title %}Seccion{% endblock %}

{% block dropdown-menu %}
    <li><a href="{% url "modrecurso:buscar" %}">  Recursos </a></li>
    <li><a href="{% url "modrecurso:tiporecurso_list" %}">  Tipos de Recursos</a></li>
{% endblock %}

{% block content %}
{% endblock %}