{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Crear Caracteristicas{% endblock %}

{% block content %}
     <div class="container" >
          <div class="jumbotron">
              <h1> Caracteristicas </h1><hr>
              <p>Ingresa los siguientes datos: </p><br>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="modal-footer" style="text-align:left">
                    <a class="btn btn-primary" href="{% url "modrecurso:tiporecurso_list" %}" role="button">Cancelar </a>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
          </div>
     </div>
{% endblock %}