{% extends "modrecurso/base_modrecurso.html" %}


{% block title %}Caracteristicas de Tipo Recurso{% endblock %}

{% block content %}
    <body>
    </body>
    <table class="recurso_table">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
        {% for Caracteristica in caracteristicas %}
            <tr>
                <td class="id">{{ Caracteristica.id }}/td>
                <td class="nombre">{{ Caracteristica.nombre }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url "modrecurso:tiporecurso_list" %}"><button type="button">Atras</button></a>
{% endblock %}