{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Crear nuevo recurso{% endblock %}

{% block content %}
    {% if perms.modrecurso.add_recurso %}
        <div class="container">
            <div class="jumbotron">
                <h1> Nuevo Recurso </h1>
                <hr>
                <p>Ingresa los siguientes datos: </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->
                    <h3 style="line-height:10pt;">Nombre: {{ form.nombre}}</h3>
                    <h3>Estado: {{ form.estado}}</h3>
                    <h3>Area: {{ form.area}}&nbsp;&nbsp;<a href="{% url 'modusuario:area_create'%}"><img src="../../../static/img/añadir2.png" width="18" height="18" alt="crear"/></a></h3>
                    <h3>Tipo de Recurso: {{ form.tipo_recurso}}&nbsp;&nbsp;<a href="{% url 'modrecurso:tiporecurso_create'%}"><img src="../../../static/img/añadir2.png" width="18" height="18" alt="crear"/></a></h3>
                    <a class="btn btn-primary" href="{% url "modrecurso:buscar" %}" role="button">Cancelar </a>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Crear</button>

                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h1> Permiso denegado! </h1><br>
                <p>  Usted no posee permiso para crear recurso. Ahora puedes <a href="{% url "modrecurso:buscar" %}">volver</a> </p><br>
            </div>
        </div>
    {% endif %}
{% endblock content %}