{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Recurso Creado{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1> Recurso </h1>
            <hr>
        </div>
    </div>
    {% if perms.modrecurso.delete_recurso %}
        <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="history.back()" aria-hidden="true">&times;</button>
                        <h3>Recurso eliminado</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Su recurso ha sido eliminado exitosamente.</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'modrecurso:buscar' %}"><button type="button" class="btn btn-default">Cerrar</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="history.back()" aria-hidden="true">&times;</button>
                        <h3>Permiso denegado!</h3>
                    </div>
                    <div class="modal-body">
                        <h4>No posee permiso para eliminar recurso.</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'modrecurso:buscar' %}"><button type="button" class="btn btn-default">Cerrar </button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $("#mostrarmodal").modal("show");
        });
    </script>
{% endblock content %}
