{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Editar recurso{% endblock %}

{% block content %}
    {% if perms.modrecurso.change_recurso %}
        <div class="container">
            <div class="jumbotron">
                <h1> Editar el recurso </h1>
                <hr>
                <p> Puede editar el recurso mediante el siguiente formulario: </p><br>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <h>Caracteristicas: <a href="{% url 'modrecurso:caracteristica_create' pk %}"><span class="glyphicon glyphicon-plus"></span></a></h>
                    <div class="row">
                        <div class="container col-sm-4" style="background-color: white">
                            {% for caracteristica in caracteristicas %}
                                <ul>
                                    <li>{{ caracteristica.nombre }}:{{ caracteristica.descripcion }} </li>
                                </ul>
                            {% empty %}
                                <h4>El recurso no tiene caracteristicas</h4>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="modal-footer" style="text-align:left">
                            <a class="btn btn-primary" href="{% url "modrecurso:buscar" %}" role="button">&laquo; Atras </a>
                            &nbsp;&nbsp;

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Guardar</button>
                            <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                    <h3 class="modal-title"> Recurso Modificado! </h3>
                                            </div>
                                            <div class="modal-body">
                                                <h4>El recurso ha sido modificado exitosamente.</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default"> Aceptar </button></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h1> Permiso denegado! </h1>
                <hr>
                <p> Usted no posee permiso para modificar recurso </p><br>
            </div>
        </div>
    {% endif %}
{% endblock content %}