{% extends 'modrecurso/base_modrecurso.html' %}
{% load static %}
{% block title %}Recurso{% endblock %}
{% block extrahead %}
    {{ form.media }}
    {{ form1.media }}
{% endblock %}
{% block content %}

    <div class="container" >
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Recursos</h1><hr>
        <!-- BUSCAAAR-->
        <div class="row">
            <div class="col-md-12">
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" id="myInput" onkeyup="buscar()" placeholder="Ingrese el nombre del usuario que desea buscar">
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="height: 45px;width: 45px"><img src="{% static 'img/filtro.png' %}" width="19" height="19"></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form class="form-horizontal" action="." method="get" role="form">
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-sm btn-primary" id="btnFiltrar">Filtrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BUSCAAAR-->
        <br>
        <table id="Tabla_recurso" class="header" cellspacing="0" width="100%">
            <thead class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Tipo de Recurso </th>
                    <th>Estado</th>
                    <th>Área</th>
                    <!--<th>Mantenimiento</th>-->
                    <th>Características</th>
                    <th>Reportes</th>
                    {% if perms.modrecurso.change_recurso %}
                        <th>Modificar</th>
                    {% endif %}
                    {% if perms.modrecurso.delete_recurso %}
                        <th>Eliminar</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for Recurso in recursos %}
                    <tr>
                        <td>{{ Recurso.nombre }}</td>
                        <td>{{ Recurso.tipo_recurso }}</td>
                        <td>{{ Recurso.estado }}</td>
                        <td>{{ Recurso.area }}</td>
                        <td>
                            <img src="{% static 'img/info.png' %}" width="25" height="25" alt="more" style="cursor: pointer;" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">
                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{ forloop.counter }}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title"> Características </h3>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped" id="tblGrid">
                                                <thead id="tblHead">
                                                  <tr>
                                                    <th>Id</th>
                                                    <th>Nombre</th>
                                                    <th>Descripcion</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                {% for Caracteristica in Recurso.lista_caracteristicas %}
                                                    <tr>
                                                        <td class="id">{{ Caracteristica.id }}</td>
                                                        <td class="nombre">{{ Caracteristica.nombre }}</td>
                                                        <td class="descripcion">{{ Caracteristica.descripcion }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td>
                             <img src="{% static 'img/reporte.png' %}" width="25" height="25" alt="more" style="cursor: pointer;" data-toggle="modal" data-target="#myModal2{{ forloop.counter }}">
                            <!-- Modal -->
                            <div class="modal fade" id="myModal2{{ forloop.counter }}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title"> Reportes </h3>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped" id="tblGrid">
                                                <thead id="tblHead">
                                                  <tr>
                                                    <th>Usuario</th>
                                                    <th>Recurso</th>
                                                    <th>Reserva</th>
                                                    <th>Descripcion</th>
                                                    <th>Devuelto por</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                {% for Historial in Recurso.lista_historial %}
                                                    <tr>
                                                        <td class="usuario">{{ Historial.usuario }}</td>
                                                        <td class="recurso">{{ Historial.recurso.nombre }}</td>
                                                        <td class="reserva">{{ Historial.reserva }}</td>
                                                        <td class="descripcion">{{ Historial.descripcion }}</td>
                                                        <td class="usuario_dev">{{ Historial.usuario_dev }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        {% if perms.modrecurso.change_recurso %}
                            <td><a href="{% url "modrecurso:modificar_recurso" parameter=Recurso.id %}"><img src="{% static 'img/editar_recurso.png' %}" width="25" height="25" alt="editar1"/></a></td>
                        {% endif %}
                        {% if perms.modrecurso.delete_recurso %}
                            <td><a href="{% url 'modrecurso:eliminar_recurso' Recurso.id %}"><img src="{% static 'img/eliminar1.png' %}" width="25" height="25" alt="eliminar"/></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if recursos.has_other_pages %}
            <ul class="pagination">
                {% if recursos.has_previous %}
                    <li><a href="?page={{ recursos.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in recursos.paginator.page_range %}
                    {% if recursos.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if recursos.has_next %}
                        <li><a href="?page={{ recursos.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>
                {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
        <br><br>
        <a class="btn btn-sm btn-primary" href="{% url "modusuario:home" %}" role="button">&laquo; Atrás </a>
        &nbsp;&nbsp;
        {% if perms.modrecurso.add_recurso %}
            <a class="btn btn-sm btn-primary" href="{% url "modrecurso:crear_recurso" %}" role="button">Crear</a>
             &nbsp;&nbsp;

            <div class="btn-group dropup" role="group">
                <div class="dropdown dropdown-lg">
                   <button  style="border-radius:4px;" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Reporte</button>
                      <div class="dropdown-menu dropdown-menu" role="menu">
                          <form class="form-horizontal" action="{% url "modrecurso:reporte_recurso_pdf" %}" method="get" role="form">
                            {{ form1.as_p }}
                            <button type="submit" class="btn btn-sm btn-primary" id="btnGenerar">Generar PDF</button>
                         </form>
                      </div>
                </div>
            </div>
        {% endif %}
      </div>
    </div> <!-- /container -->


    <script>
    function buscar()
    {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("Tabla_recurso");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    </script>


{% endblock content %}




