{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Recurso Creado{% endblock %}

    {% block content %}
            <div class="container" >
              <div class="jumbotron">
                  <h1> Recurso Creado</h1><hr>
                  <p>Su recurso ha sido creado exitosamente. Ahora puedes <a href="{% url "modrecurso:buscar" %}">volver</a></p><br>
              </div>
            </div>
    {% endblock content %}

