{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Recurso Modificado{% endblock %}

{% block content %}


    <div class="container">
        <div class="jumbotron">
            <h1> Recurso </h1>
            <hr>
        </div>
    </div>

    <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Recurso Modificado</h3>
                </div>
                <div class="modal-body">
                    <h4>Su recurso ha sido modificado exitosamente.</h4>
                </div>
                <div class="modal-footer">
                    <a href="{% url "modrecurso:buscar" %}">
                        <button type="button" class="btn btn-default"> Cerrar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#mostrarmodal").modal("show");
        });
    </script>

{% endblock content %}
