



{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Reporte de Recurso{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1> Reporte de Recursos </h1>
            <hr>
            <div class='form-group'>
                <div class="row">
                    <div class="col-lg-9">

                    </div>
                    <div class="col-lg-1">
                        <a href="{% url 'personas:reporte_recurso_pdf' %}" class="btn btn-info btn-block">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}