{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Actualizar TipoRecurso{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1> Actualizar Tipo de Recurso </h1>
            <hr>
            <p>Ingresa los siguientes datos: </p><br>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <h4>Caracteristicas: <a href="{% url 'modrecurso:caracteristicas_tiporecurso_create' pk %}"><span class="glyphicon glyphicon-plus"></span></a></h4>
                <div class="row">
                    <div class="container col-sm-4" style="background-color: white">
                        {% for caracteristica in caracteristicas %}
                            <ul>
                                <li>{{ caracteristica.nombre }}</li>
                            </ul>
                        {% empty %}
                            <h4>El recurso no tiene caracteristicas</h4>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer" style="text-align:left">
                    <a class="btn btn-primary" href="{% url "modrecurso:tiporecurso_list" %}"
                       role="button">Cancelar </a>&nbsp;&nbsp;

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Guardar</button>
                            <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                    <h3 class="modal-title"> Tipo de Recurso Modificado! </h3>
                                            </div>
                                            <div class="modal-body">
                                                <h4>El Tipo de recurso ha sido modificado exitosamente.</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default"> Aceptar </button></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}