{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Eliminar Tipo de Recurso{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1> Tipo de Recurso </h1>
            <hr>
        </div>
    </div>
    <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="history.back()" aria-hidden="true">&times;</button>
                    <h3>Eliminar Tipo de Recurso</h3>
                </div>
                <div class="modal-body">
                    <h4>¿Seguro que quieres eliminar el tipo de Recurso: {{ object.nombre|upper }} ?</h4>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default" value="Confirmar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#mostrarmodal").modal("show");
        });
    </script>
{% endblock %}