{% extends "modrecurso/base_modrecurso.html" %}
{% load static %}

{% block title %}Listar Tipos de Recursos{% endblock %}

{% block content %}
 <div class="container" >
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Tipo de Recurso</h1><hr>

        <input type="text" id="myInput" class="form-control" onkeyup="buscar()" placeholder="Ingrese el id del tipo recurso que desea buscar.">
        <br>
        <table id="Tabla_tiporecurso" class="header" cellspacing="0" width="100%">
            <thead class="table">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Caracteristicas</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for tiporecurso in tiporecurso_list %}
                    <tr>
                        <td>{{ tiporecurso.id }}</td>
                        <td>{{ tiporecurso.nombre }}</td>
                        <td>{{ tiporecurso.descripcion }}</td>
                        <td>
                            <img src="{% static 'img/info.png' %}" width="25" height="25" alt="more" style="cursor: pointer;" data-toggle="modal" data-target="#myModal{{ forloop.counter }}"/>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{ forloop.counter }}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title"> Características </h3>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped" id="tblGrid">
                                                <thead id="tblHead">
                                                  <tr>
                                                    <th>Id</th>
                                                    <th>Nombre</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                {% for caracteristica in tiporecurso.lista_caracteristicas %}
                                                    <tr>
                                                        <td class="id">{{ caracteristica.id }}</td>
                                                        <td class="nombre">{{ caracteristica.nombre }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% if perms.modrecurso.change_tiporecurso %}
                                <td><a href="{% url "modrecurso:tiporecurso_update" tiporecurso.id %}"><img src="{% static 'img/editar_recurso.png' %}" width="25" height="25" alt="editar"/></a> </td>
                        {% endif %}
                        {% if perms.modrecurso.delete_tiporecurso %}
                                <td> <a href="{% url "modrecurso:tiporecurso_delete" tiporecurso.id %}"><img src="{% static 'img/eliminar1.png' %}" width="25" height="25" alt="eliminar"/></a></td>
                        {% endif %}
                    </tr>
                {% empty %}
                     <h3>No hay tipos de recursos</h3>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
        <br><br>
        <a class="btn btn-sm btn-primary" href="{% url "modusuario:home" %}" role="button">&laquo; Atrás </a>
        &nbsp;&nbsp;
        {% if perms.modrecurso.add_tiporecurso %}
            <a class="btn btn-sm btn-primary" href="{% url "modrecurso:tiporecurso_create" %}" role="button">Crear</a>
        {% endif %}
      </div>
 </div>

    {% if tiporecurso.has_other_pages %}
                <ul class="pagination">
                    {% if tiporecurso.has_previous %}
                        <li><a href="?page={{ tiporecurso.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in tiporecurso.paginator.page_range %}
                        {% if tiporecurso.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if tiporecurso.has_next %}
                            <li><a href="?page={{ tiporecurso.next_page_number }}">&raquo;</a></li>
                    {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
    {% endif %}
    <script>
    function buscar()
    {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("Tabla_tiporecurso");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    </script>
{% endblock %}