{% extends "modrecurso/base_modrecurso.html" %}

{% block title %}Crear Tipos de Recursos{% endblock %}

{% block content %}
    <div class="container" >
      <div class="jumbotron">
          <h1> Crear Tipo de Recurso </h1><hr>
          <p>Por favor, regístre el Tipo de Recurso usando el siguiente formulario: </p><br>
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="modal-footer" style="text-align:left">
                <input value="Cancelar" type="button"  onclick="history.back()" class="btn btn-primary">&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary"> Guardar </button>
            </div>
          </form>
      </div>
    </div>

{% endblock %}