.btn-group .button {
    background-color: #f5f5f5; /* Green  #4CAF50 #01c3a4 #4ABDAC #4a77b2*/
    border: none;
    color: #4a77b2;
    padding: 120px 25px;
    width: 200px;
    height: 500px;
    text-align: center;
    text-decoration: none;
    text-decoration: solid;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    vertical-align: text-top;
    padding-top: 6px;
}

.btn-group .button:not(:last-child) {
    border-right: none;
}

.btn-group .button:hover {
    box-shadow: 0 12px 26px 0 rgba(0,0,0,0.24), 0 17px 80px 0 rgba(0,0,0,0.19);
}
body {
    background-color: #4a77b2;
}

.btn-group .button6 {
    background-color: #f5f5f5; /* Green  #4CAF50 #01c3a4 #4ABDAC #4a77b2*/
    border: none;
    color: #737373;
    padding: 120px 25px;
    width: 200px;
    height: 500px;
    text-align: center;
    text-decoration: none;
    text-decoration: solid;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    vertical-align: text-top;
    padding-top: 6px;/* use your color here */

}

h5.hidden {
        visibility: hidden;
    }


<!-- PARA EL BUSCADOR -->

body1 {
    padding-top: 50px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;

}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 1020px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}