body {
    background-color: #4a77b2;
}

.btn-sample {
  color: #ffffff;
  background-color: #4A77B2;
  border-color: #E6E6E6;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #4A74B2;
  border-color: #E6E6E6;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #4A77B2;
  border-color: #E6E6E6;
}

.btn-sample .badge {
  color: #4A77B2;
  background-color: #ffffff;
}




* {
  box-sizing: border-box;
}

#myInput {
  background-image: url("../img/buscar1.png");
  background-position: 8px 8px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;

}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 13px;
  background-color: #ffffff;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 13px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}


#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}


#myTable td:nth-child(1n+6)
{text-align: center;
  padding: 10px;}


#Table_user {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #ffffff;
}

#Table_user th, #Table_user td {
  text-align: justify;
  padding: 12px;
}

#Table_user tr {
  border-bottom: 1px solid #ddd;
}


#Table_user tr.header, #Table_user tr:hover {
  background-color: #f1f1f1;
}

#Table_user td:nth-child(1n+5)
{text-align: center;
  padding: 10px;}

#Table_user th:nth-child(1n+5)
{text-align: center;
  padding: 10px;}



#Table_area {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #ffffff;
}

#Table_area th, #Table_area td {
  text-align: justify;
  padding: 12px;
}

#Table_area tr {
  border-bottom: 1px solid #ddd;
}


#Table_area tr.header, #Table_area tr:hover {
  background-color: #f1f1f1;
}

#Table_area td:nth-child(1n+4)
{text-align: center;
  padding: 10px;}

#Table_area th:nth-child(1n+4)
{text-align: center;
  padding: 10px;}

#Table_rol {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #ffffff;
}

#Table_rol th, #Table_rol td {
  text-align: justify;
  padding: 12px;
}

#Table_rol tr {
  border-bottom: 1px solid #ddd;
}


#Table_rol tr.header, #Table_rol tr:hover {
  background-color: #f1f1f1;
}

#Table_rol td:nth-child(1n+4)
{text-align: center;
  padding: 10px;}

#Table_rol th:nth-child(1n+4)
{text-align: center;
  padding: 10px;}

#Tabla_tiporecurso {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #ffffff;
}

#Tabla_tiporecurso th, #Tabla_tiporecurso td {
  text-align: justify;
  padding: 12px;
}

#Tabla_tiporecurso tr {
  border-bottom: 1px solid #ddd;
}


#Tabla_tiporecurso tr.header, #Tabla_tiporecurso tr:hover {
  background-color: #f1f1f1;
}

#Tabla_tiporecurso td:nth-child(1n+4)
{text-align: center;
  padding: 10px;}

#Tabla_tiporecurso th:nth-child(1n+4)
{text-align: center;
  padding: 10px;}


#Tabla_recurso {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #ffffff;
}

#Tabla_recurso th, #Tabla_recurso td {
  text-align: justify;
  padding: 6px;
}

#Tabla_recurso tr {
  border-bottom: 1px solid #ddd;
}


#Tabla_recurso tr.header, #Tabla_recurso tr:hover {
  background-color: #f1f1f1;
}

#Tabla_recurso td:nth-child(1n+4)
{text-align: center;
  padding: 10px;}

#Tabla_recurso th:nth-child(1n+4)
{text-align: center;
  padding: 10px;}