

{% extends "modusuario/base_modusuario.html" %}

{% block title %}Actualizar Usuario{% endblock %}

{% block content %}
      <div class="container" >
      <div class="jumbotron">
          <h1> Actualizar Area </h1><hr>
          <p> Puede editar el area mediante el siguiente formulario: </p><br>
        <!-- Main component for a primary marketing message or call to action -->
         <form action="." method="post">
             {% csrf_token %}
            {{ form.as_p }}

            <div class="modal-footer" style="text-align:left">
                <a class="btn btn-primary" href="{% url "modusuario:listar_usuarios" %}" role="button">Cancelar </a>
                            &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
         </form>
      </div>
    </div>
{% endblock %}