{% extends "modusuario/base_modusuario.html" %}

{% block title %}Crear Area{% endblock %}

{% block content %}
    <div class="container" >
      <div class="jumbotron">
          <h1> Crear Área </h1><hr>
          <p>Por favor, regístre el Área usando el siguiente formulario: </p><br>
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="modal-footer" style="text-align:left">
                <input value="Cancelar" type="button"  onclick="history.back()" class="btn btn-primary"> &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Crear</button>

            </div>
          </form>
      </div>
    </div>

{% endblock %}