{% extends "modusuario/base_modusuario.html" %}
{% load static %}

{% block title %}Listar Areas{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Módulo de Usuarios</h1><hr>
            <h2> Áreas </h2>
            <input type="text" id="myInput" class="form-control" onkeyup="buscar()" placeholder="Ingrese el ID del Area que desea buscar.">
            <br>
            <table id="Table_area" class="header" cellspacing="0" width="100%">
                <thead class="table">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Modificar</th>
                        <th align="center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for area in area_list %}
                        <tr>
                            <td>{{ area.id }}</td>
                            <td>{{ area.nombre }}</td>
                            <td>{{ area.descripcion }}</td>
                             {% if perms.modusuario.change_area %}
                                    <td><a href="{% url "modusuario:area_update" area.id %}"><img src="{% static 'img/editar_recurso.png' %}" width="25" height="25" alt="editar"/></a> </td>
                            {% endif %}
                            {% if perms.modusuario.delete_area %}
                                    <td> <a href="{% url "modusuario:area_delete" area.id %}"><img src="{% static 'img/eliminar1.png' %}" width="25" height="25" alt="eliminar"/></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in page_obj.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
                <br><br>
                <a class="btn btn-sm btn-primary" href="{% url "modusuario:home" %}" role="button">&laquo; Atrás </a>     &nbsp;&nbsp;
            {% if perms.modusuario.add_area %}
                <a class="btn btn-sm btn-primary" href="{% url "modusuario:area_create" %}" role="button">Crear</a>
            {% endif %}
        </div>
    </div>

    <script>
    function buscar()
    {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("Table_area");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    </script>
{% endblock %}