{% extends "base.html" %}

{% block title %}Modulo de Usuarios{% endblock %}

{% block dropdown-active %}active{% endblock %}

{% block dropdown-title %}Sección{% endblock %}

{% block dropdown-menu %}
    <li><a href="{% url "modusuario:listar_usuarios" %}"> Usuarios </a></li>
    <li><a href="{% url "modusuario:area_list" %}"> Áreas </a></li>
    <li><a href="{% url "modusuario:rol_list" %}"> Roles </a></li>
{% endblock %}

{% block content %}
{% endblock %}