{% extends "modusuario/base_modusuario.html" %}

{% block title %} Configuración {% endblock %}

{% block dropdown-hide %}hide{% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1> Configuración </h1><hr>
        <!-- Main component for a primary marketing message or call to action -->
         <form action="." method="post">
            {% csrf_token %}
            <h4>{{ page_heading }}</h4>
            {{ form.as_p }}
            <div class="modal-footer" style="text-align:left">
                 <a class="btn btn-primary" href="{% url "modusuario:home" %}" role="button">Cancelar </a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
{#            {% if perms.modusuario.can_add_session %}#}
{#             <h3>Email use tls:{{ form.conf_email_use_tls }}</h3>#}
{#             <h3>Email host:{{ form.conf_email_host }}</h3>#}
{#             <h3>Email host user:{{ form.conf_email_host_user }}</h3>#}
{#             <h3>Email host password:{{ form.conf_email_host_password }}</h3>#}
{#             <h3>Email port:{{ form.conf_email_port }}</h3>#}
{#            {% endif %}#}
{#            {% if perms.modreserva.entrega_recurso %}#}
{#                 <h3>Tiempo para resolver reservas:{{ form.fecha_reserva }}(Dias)</h3>#}
{#                 <h3>Tiempo previo para retiro:{{ form.tiempo_antes }}(Minutos)</h3>#}
{#                 <h3>Tiempo posterior de retiro:{{ form.tiempo_despues }}(Minutos)</h3>#}
{#            {% endif %}#}

        </form>
      </div>
    </div>

{% endblock content %}