{% extends "modusuario/base_modusuario.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block dropdown-hide%}hide{% endblock %}

{% block content %}
     <div class="container" >
      <div class="jumbotron">
          <h1> Edite su Perfil </h1>
          <hr>
          <p>Puede editar su cuenta mediante el siguiente formulario:</p>
          <br>
        <!-- Main component for a primary marketing message or call to action -->
        <form action="." method="post">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <div class="modal-footer" style="text-align: left">
                <a class="btn btn-primary" href="{% url "modusuario:home" %}" role="button">Cancelar </a>
                        &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
      </div>
    </div>

{% endblock %}