{% extends "modusuario/base_modusuario.html" %}

{% block title %} Crear cuenta {% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1> Crear una cuenta </h1><hr>
          <p>Por favor, regístrese usando el siguiente formulario: </p><br>
        <!-- Main component for a primary marketing message or call to action -->
         <form action="." method="post">
             {{ user_form.as_p }}
             {{ profile_form.as_p }}
             {% csrf_token %}

            <div class="modal-footer" style="text-align:left">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="history.back()" aria-hidden="true">Atras</button>
                <button type="submit" class="btn btn-primary">Crear mi cuenta</button>
            </div>
         </form>
      </div>
    </div>

{% endblock content %}