
{% extends "modusuario/base_modusuario.html" %}

{% block title %} Crear cuenta {% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1> ¡ Bienvenido ! {{ new_user.first_name }}! </h1><hr>
          <p>Su cuenta ha sido creada satisfactoriamente. Ahora usted puede <a href="{% url "modusuario:login" %}">iniciar sesión.</a></p><br>

      </div>
    </div>

{% endblock content %}