{% extends "modusuario/base_modusuario.html" %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1> Crear Usuario </h1>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <div class="modal-footer" style="text-align:left">
                    <a class="btn btn-primary" href="{% url "modusuario:listar_usuarios" %}" role="button">Cancelar </a>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Crear</button>

                </div>
            </form>
        </div>
    </div>

{% endblock content %}