{% extends "modusuario/base_modusuario.html" %}
{% load static %}

{% block title %}Usuarios{% endblock %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Usuarios</h1><hr>
{#            <input type="text" id="myInput" class="myInput" onkeyup="buscar()" placeholder="Ingrese el nombre del usuario que desea buscar.">#}
            <!-- BUSCAAAR-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" id="adv-search">
                            <input type="text" class="form-control" id="myInput" onkeyup="buscar()" placeholder="Ingrese el nombre del usuario que desea buscar">
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="{% static 'img/filtro.png' %}" width="16" height="16"></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form class="form-horizontal" action="." method="get" role="form">
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-sm btn-primary" id="btnFiltrar">Filtrar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- BUSCAAAR-->
            <br>
            <table id="Table_user" class="header" cellspacing="0" width="100%">
                <thead class="table">
                    <tr>
                        <th>Usuario</th>
                        <th width="15%">Email</th>
                        <th>Categoria</th>
                        <th>Area</th>
                        <th>Estado</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in lista_usuarios %}
                        <tr>

                            <td><a href="" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">{{ usuario.username }}</a>

                            <!-- Modal -->
                                <div class="modal fade" id="myModal{{ forloop.counter }}" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h3 class="modal-title"> Detalles </h3>
                                                </div>
                                                <div class="modal-body">
                                                     <p>Nombre de usuario: {{ usuario.username }}</p>
                                                     <p>Nombre: {{ usuario.first_name }} </p>
                                                     <p>Apellido: {{ usuario.last_name }}</p>
                                                     <p>Inicio sesion ultima vez: {{ usuario.last_login }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.profile.categoria }}</td>
                            <td>{{ usuario.profile.area }}</td>
                            {% if usuario.is_active %}
                                <td>Activado</td>
                            {% else %}
                                <td>Desactivado</td>
                            {% endif %}

                            {% if perms.auth.change_user %}
                                    <td><a href="{% url "modusuario:actualizar_usuario" usuario.id %}"><img src="{% static 'img/editar_recurso.png' %}" width="25" height="25" alt="editar"></a></td>
                            {% endif %}
                            {% if perms.auth.delete_user %}
                                    <td><a href="{% url "modusuario:eliminar_usuario" usuario.id %}"><img src="{% static 'img/eliminar1.png' %}" width="25" height="25" alt="eliminar"/></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if lista_usuarios.has_other_pages %}
                <ul class="pagination">
                    {% if lista_usuarios.has_previous %}
                        <li><a href="?page={{ lista_usuarios.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in lista_usuarios.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if lista_usuarios.has_next %}
                            <li><a href="?page={{ lista_usuarios.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>
                    {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
            <br><br>
                <a class="btn btn-sm btn-primary" href="{% url "modusuario:home" %}" role="button">&laquo; Atrás </a>            &nbsp;&nbsp;
            {% if perms.auth.add_user %}
                <a class="btn btn-sm btn-primary" href="{% url "modusuario:crear_usuario" %}" role="button">Crear</a>
            {% endif %}
        </div>
    </div>

    <script>
    function buscar()
    {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("Table_user");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td)
            {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1)
                {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>
{% endblock content %}








