{% extends "modusuario/base_modusuario.html" %}

{% block title %}Usuario Detalle{% endblock %}

{% block content %}
    <h1>{{ usuario.username }}</h1>
    <h2>Nombre: {{ usuario.first_name }} Apellido: {{ usuario.last_name }}</h2>
    <h2>Inicio sesion ultima vez: {{ usuario.last_login }}</h2>
{% endblock %}