{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{% static 'img/icon.ico' %}">
        <link href="{% static 'css/bootstrap-datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet" />
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
         <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
        <link href="{% static 'css/button.css' %}" rel="stylesheet">
        <link href="{% static 'css/table.css' %}" rel="stylesheet">
        <link href="{% static 'css/slide.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>


        <style>
            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>

        {% block extrahead %}{% endblock %}
        <!-- Pop up -->
    </head>
    <body>
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DUBIUM</a>
                </div>
                {% if request.user.is_authenticated %}
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="{% block inicio-active %}{% endblock %}"><a href="{% url 'modusuario:home' %}">Inicio</a></li>
                            <li class="{% block dropdown-hide %}dropdown{% endblock %} {% block dropdown-active %}{% endblock %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {% block dropdown-title %}{% endblock %} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% block dropdown-menu %}
                                    {% endblock %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if perms.modusuario.can_edit_config %}
                                <li><a href="{% url "modusuario:configuracion" %}"> Configuración </a></li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Perfil <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "modusuario:edit" %}"><img src="{% static 'img/editar.png' %}" width="16" height="16" alt="editar"/> Editar Perfil</a></li>
                                    <li><a href="{% url "modusuario:password_change" %}"><img src="{% static 'img/pass.png' %}" width="16" height="16" alt="Pass"/> Cambiar Contraseña</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li><a href="{% url "modusuario:logout" %}"><img src="{% static 'img/cerrar.png' %}" width="16" height="16" alt="Pass"/> Cerrar Sesión</a></li>
                                    {% else %}
                                        <li><a href="{% url "modusuario:login" %}"> Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}<a href="#" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    <!-- Bootstrap core JavaScript
       ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src=”jquery-1.7.1.min.js”%3E%3C/script%3E'))</script>
    <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>
    <script type="text/javascript" src="{% static  'js/bootstrap-datetimepicker.js' %}"></script>
   <!--  <script type="text/javascript" src="{% static 'js/Chart.bundle.js'%}"></script>-->
    <script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js'%}"></script>
    </body>
</html>