{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block inicio-active %}active{% endblock %}

{% block dropdown-hide %}hide{% endblock %}

{% block content %}

    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Bienvenido {{ request.user.first_name }} !</h1>
            <hr>
            <div class="btn-group">
                {% if perms.modusuario.list_user or perms.modusuario.list_rol or perms.modusuario.list_area %}
                    <a href="{% url 'modusuario:listar_usuarios' %}"{#'admin:auth_user_changelist'#}>
                        <button class="button col-sm-2" type="submit"><br>Usuarios <br><br><br><img src="{% static 'img/usuario.png' %}" width="100" height="100" alt="usuario"></button>
                    </a>
                {% else %}
                    <button class="button6 col-sm-2" type="submit" style= "background-color:lightgrey "><br>Usuarios <br><br><br><img src="{% static 'img/usuario2.png' %}" width="100" height="100" alt="usuario"></button>
                   <!-- <button class="button col-sm-2" type="button" data-toggle="modal" data-target="#myModal" style="filter: blur(3px);"> <br>Usuarios <br><br><br><img src="{% static 'img/usuario.png' %}" width="100" height="100" alt="usuario"/></button> -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> Permiso denegado! </h4>
                                </div>
                                <div class="modal-body">
                                    <p>Usted no tiene los permisos suficientes para ingresar al Modulo</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if perms.modrecurso.list_recursos or perms.modrecurso.list_tiporecurso %}
                    <a href="{% url 'modrecurso:buscar' %}">
                        <button class="button col-sm-2"> <br>Recursos<br><br><br><img
                                src="{% static 'img/recurso.png' %}" width="90" height="90" alt="recurso"></button>
                    </a>
                {% else %}
                        <button class="button6 col-sm-2" style= "background-color:lightgrey "> <br>Recursos<br><br><br><img src="{% static 'img/recurso2.png' %}" width="90" height="90" alt="recurso"></button>
                {% endif %}
                <a href="{% url 'modreserva:reserva_lista' %}">
                    <button class="button col-sm-2"> <br>Reservas<br><br><br><img
                            src="{% static 'img/reservas.png' %}" width="95" height="95" alt="reservas"></button>
                </a>
                <a href="{% url 'modmantenimiento:mantenimiento_lista' %}">
                    <button class="button col-sm-2"> <br>Mantenimiento<br><br><br><img
                            src="{% static 'img/mantenimiento.png' %}" width="100" height="100" alt="mantenimiento">
                    </button>
                </a>
                <a href="{% url 'modpublico:lista_publico' %}">
                    <button class="button col-sm-2"> <br>Estadistícas<br><br><br><img src="{% static 'img/publico.png' %}"width="100" height="100"alt="publico">
                    </button>
                </a>
            </div>
        </div>
    </div>

{% endblock content %}

