{% extends "modpublico/base_modpublico.html" %}
{% load static %}

{% block jquery %}
{% endblock  %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block title %}Estadisticas{% endblock %}

{% block content %}
    <div class="container" >
      <div class="jumbotron">
          <h1>Estadisticas</h1>
          <hr>

          <div id="slider">
              <a href="#" class="control_next">>></a>
              <a href="#" class="control_prev"><</a>
              <ul>
                  <li>
                      <canvas id="bar-chart" style="position: relative; height:40vh; width:42vw; padding: 20px 20px 20px 20px;"></canvas>
                      <div class="cell" id="top10Legend"></div>
                  </li>
                  <li><canvas id="bar-chart4" style="position: relative; height:40vh; width:42vw; padding: 20px 20px 20px 20px;"></canvas></li>
                  <li><canvas id="bar-chart2" style="position: relative; height:40vh; width:42vw; padding: 20px 20px 20px 20px;"></canvas></li>
                  <li><canvas id="bar-chart3" style="position: relative; height:40vh; width:42vw; padding: 20px 20px 20px 20px;"></canvas></li>


              </ul>
          </div>

            {% comment %}<div class="row">
                <div class="col-sm-6" style="margin: 20px 0 0 0; background-color: whitesmoke">
                    <canvas id="bar-chart" width="750" height="650"></canvas>
                </div>
                <div class="col-sm-6" style="margin: 20px 0 0 0; background-color: whitesmoke ">
                    <canvas id="bar-chart4" width="750" height="650"></canvas>
                </div>
                <hr>
                <div class="col-sm-6" style=" margin: 20px 0 0 0; background-color: whitesmoke">
                    <canvas id="bar-chart3" width="750" height="650"></canvas>
                </div>
                <div class="col-sm-6" style="margin: 20px 0px 0 0; background-color: whitesmoke">
                    <canvas id="bar-chart2" width="750" height="650"></canvas>
                </div>
{% endcomment %}
            </div>
     </div>
    </div>

    <script>
        var ck= {{ ck }};

        new  Chart(document.getElementById("bar-chart"), {
        type: 'doughnut',
        data: {
          labels: [ "{{k1}}" , "{{k2 }}" , "{{k3 }}", "{{k4}}", "{{k5}}","{{k6}}" , "{{k7 }}" , "{{k8 }}", "{{k9}}", "{{k10}}","{{k11}}" , "{{k12 }}" , "{{k13 }}", "{{k14}}", "{{k15}}"],
          datasets: [
            {
              label: "Cantidad",
              backgroundColor: ["#5C6BC0", "#FF7043","#ABEBC6","#FFC300","#29B6F6", "#66BB6A", "#AB47BC","#EC407A","#D4E157","#26C6DA","#8D6E63","#42A5F5","#FFA726", "#9CCC65","#EF5350"],
              data: [ck[0],ck[1],ck[2],ck[3],ck[4],ck[5],ck[6],ck[7],ck[8],ck[9],ck[10],ck[11],ck[12],ck[13],ck[14]]
            }
          ]
        },
        options: {
          legend: { display: true, position: 'bottom' },
          responsive: true,
          maintainAspectRatio: false,

          title: {
            display: true,
            text: 'Cantidad de recursos disponibles'
          }

        }
    });
    </script>
    <script>
        var cr= {{ cr }};
        new Chart(document.getElementById("bar-chart2"), {
        type: 'pie',
        data: {
          labels: ["{{r1}}" , "{{r2 }}" , "{{r3 }}", "{{r4}}", "{{r5}}","{{r6}}" , "{{r7 }}" , "{{r8}}", "{{r9}}", "{{r10}}"],
          datasets: [
            {
              label: "Cantidad",
              backgroundColor: ["#66BB6A", "#AB47BC","#EC407A","#D4E157","#26C6DA","#8D6E63","#42A5F5","#FFA726", "#9CCC65","#EF5350"],
              data: [cr[0],cr[1],cr[2],cr[3],cr[4],cr[5],cr[6],cr[7],cr[8],cr[9]]
            }
          ]
        },
        options: {
          legend: { display: true },
          title: {
            display: true,
            text: 'Cantidad de recursos disponibles por cada tipo de recurso en la semana.'
          }
        }
    });
    </script>
    <script>
        var v= {{ cinco_c }};
        new Chart(document.getElementById("bar-chart3"), {
        type: 'horizontalBar',
        data: {
          labels: ["{{t1}}" , "{{t2 }}" , "{{t3 }}", "{{t4}}", "{{t5}}","{{t6}}" , "{{t7 }}" , "{{t8 }}", "{{t9}}", "{{t10}}","{{t11}}" , "{{t12 }}" , "{{t13 }}", "{{t14}}", "{{t15}}"],
          datasets: [
            {
              label: "Cantidad",
              backgroundColor: ["#5C6BC0", "#FF7043","#ABEBC6","#FFC300","#29B6F6", "#66BB6A", "#AB47BC","#EC407A","#D4E157","#26C6DA","#8D6E63","#42A5F5","#FFA726", "#9CCC65","#EF5350"],
              data: [v[0],v[1],v[2],v[3],v[4],v[5],v[6],v[7],v[8],v[9],v[10],v[11],v[12],v[13],v[14]]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Los 15 (quince) recursos específicos más reservados en la semana.'
          }
        }
    });
    </script>
    <script>
        var cm= {{ cm }};
        new Chart(document.getElementById("bar-chart4"), {
        type: 'bar',
        data: {
          labels: ["{{m1}}" ,"{{m2}}", "{{m3}}", "{{m4}}", "{{m5}}"],
          datasets: [
            {
              label: "Cantidad",
              backgroundColor: ["#5C6BC0", "#FF7043","#ABEBC6","#FFC300","#29B6F6"],
               data: [cm[0],cm[1],cm[2],cm[3],cm[4]]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Cantidad de mantenimeintos por tipos de recurso.'
          }
        }
    });
    </script>

{% endblock %}
