{% extends "modusuario/base_modusuario.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="container" >
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Inicio de sesión</h1><hr>
          {% if form.errors %}
             <p>Puede que el Administrador no haya confirmado su usuario o que su nombre de usuario y contraseña no coinciden. Por favor intente de nuevo.</p>
          {% else %}
             <p>Por favor, utilice el siguiente formulario para iniciar sesión. Si no tiene una cuenta <a href="{% url "modusuario:register" %}">registrese aquí</a></p><br>
          {% endif %}
          <div class="login-form">
            <!--<form action="{% url 'modusuario:login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Iniciar sesión"></p>
            </form>-->
            <form role="form" method="post" id='form_login'>
               {% csrf_token %}
               <div class="form-group">
                <p style="line-height:10pt;"><strong>Usuario</strong></p>
                {{ form.username }}
               </div>
               <div class="form-group">
                <br><p style="line-height:10pt;"><strong>Contraseña</strong></p>
                {{ form.password }}
               </div>
               <br><button class="btn btn-primary" type="submit" name="login"/>Iniciar Sesión</button>
            </form>
            <br><p><a href="{% url "modusuario:password_reset" %}"> ¿Olvidaste tu contraseña? </a></p>
          </div>
      </div>
    </div> <!-- /container -->

{%endblock content%}

