{% extends "modusuario/base_modusuario.html" %}

{% block title %} Cambiar contraseña {% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1> Cambiar su contraseña </h1><hr>
          <p>Por favor, regístrese usando el siguiente formulario: </p><br>
          <form action="." method="post">
            {{ form.as_p }}
            <div class="modal-footer" style="text-align:left">
                <a class="btn btn-primary" href="{% url "modusuario:home" %}" role="button">Cancelar </a>
                        &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
            </div>
            {% csrf_token %}
          </form>
      </div>
    </div>

{% endblock content %}
