{% extends "modusuario/base_modusuario.html" %}

{% block title %} Restablecer su contraseña {% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1>Restablecer su contraseña</h1><hr>
          <p>Se ha enviado por correo electrónico instrucciones para configurar su contraseña.<br>
          <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró.<br>
      </div>
    </div>

{% endblock content %}