
{% extends "modusuario/base_modusuario.html" %}

{% block title %}Restablecer su contraseña{% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1> ¿Olvidaste tu contraseña? </h1><hr>
          <p>Introduzca su dirección de correo electrónico para obtener una nueva contraseña. </p><br>
          <form action="." method="post">
            {{ form.as_p }}
            <div class="modal-footer" style="text-align:left">
                <a class="btn btn-primary" href="{% url "modusuario:home" %}" role="button">Cancelar </a>
                        &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Enviar</button>

            </div>
            {% csrf_token %}
          </form>
      </div>
    </div>

{% endblock content %}
