{% extends "modusuario/base_modusuario.html" %}

{% block title %} Cambio de contraseña {% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1> Contraseña cambiada </h1><hr>
          <p>Su contraseña ha sido cambiada exitosamente. </p><br>
      </div>
    </div>

{% endblock content %}
