{% extends "modusuario/base_modusuario.html" %}

{% block title %} Restablecer contraseña {% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1> Restablecer su contraseña </h1><hr>
          {% if validlink %}
            <p>Introduzca su nueva contraseña dos veces:</p><br>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="modal-footer" style="text-align:left">
                    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
                </div>
            </form>
          {% else %}
            <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite una nueva contraseña a restablecer.</p>
          {% endif %}
      </div>
    </div>

{% endblock content %}