{% extends "modusuario/base_modusuario.html" %}

{% block title %} Contraseña restablecida {% endblock %}

{% block content %}

    <div class="container" >
      <div class="jumbotron">
          <h1>Contraseña restablecida</h1><hr>
          <p>Se ha establecido la contraseña. Usted puede <a href="{% url "modusuario:login"%}">iniciar sesión ahora</a></p>.<br>
      </div>
    </div>

{% endblock content %}